* {
  /* box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    background: #1b3146; */
  font-family: "Luckiest Guy", cursive;
}

/* The code styles the text at the bottom of the footer */
/* posistion to relative to allow footer to be pushed down */
.footer > .bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #000000;
}

.words1 {
  font-family: "Roboto Mono", monospace;
}

.tech-use {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
/* 
 /* 
/* 
  .collapsible{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100px;
    padding: 5px;
  } */

/* .canvas-wrapper {
   height: 100%;
   border: solid #000 1px;
 } */
.resize {
  font-size: 2.92rem;
}

.rad {
  border-radius: 50%;
}

.api_song {
  width: 1485px;
  height: 700px;
}

/*Image movement*/
#peeps {
  position: relative;
  cursor: pointer;
}

.elated-poitras-e16346 {
  width: 1485px;
  height: 700px;
}

.clean_page{
  overflow: hidden;
  height: 100%;
  width: 100%; 
  position: absolute;
}


#fileWrapper{
	transition:all 0.5s ease;
}
#fileWrapper:hover{
	opacity: 1!important;
}

#visualizer_wrapper{
	text-align: center;
}

.a3 {
  margin: 0;
  font-family: arial, "Microsoft YaHei";
  background-color: #272822;
  color: #FEFEFE;
}


.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
  
	background-color: #4CC713;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4CC713;
}

.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}

